body {
  background-color: rgb(221, 221, 221);
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.container-flex {
  max-width: 1020px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.article-pan {
  .card {
    width: 300px;
  }
  .card-body {
    width: 300px;
    padding: 0;
    img {
      height: 300px;
      width: 296px;
      object-fit: cover;
    }
  }
  .card-title {
    font-size: 70%;
  }
}
