{% extends "layout/base.html.twig" %}

{% block title 'Nouveau Pan' %}

{% block body %}
  
  <div class="row">
    <div class="col-md-6 m-auto">
  <h1>Créer un nouveau Pan</h1>
{{include('pans//partials/_form.html.twig', {submitBtnTxt: 'Ajouter'})}}
    
    </div>
  </div>

{% endblock %}