{% extends "layout/base.html.twig" %}

{% block title 'Nouveau Pan' %}

{% block body %}
  <h1>Créer un nouveau Pan</h1>
  
{{include('pans//partials/_form.html.twig', {submitBtnTxt: 'Ajouter'})}}

{% endblock %}