{% extends 'base.html.twig' %}

{% block title 'Panterest #' ~ pan.id %}

{% block body %}
{# pluralize est une fonction twig que nous avons créé dispo dans /src/Twig/pluralizeExtension.php #}
{#elle prend 3 arguments(int, str, str[optionael]#}
<h1>{{pan.title}}</h1>
<p>{{pan.description}}</p>
<a href="{{ path('app_pans_edit', {id: pan.id}) }}">Editer</a>
{% endblock %}
